.banner-div {
    background-image: url("../../../src/images/bg-banner.jpg");
    background-position: center;
    background-size: contain;
    padding: 30px;
}

.slider-content {
    margin-top: 20px;
    color: white;
    margin-left: 15px;
}

h1 {
    font-size: 60px;
}

.hero__subTitle {
    max-width: 20.125em;
    margin-bottom: 1rem;
    font-family: 16px "Libre Franklin", sans-serif;
    font-size: 20px;
}

.hero__title {
    margin-bottom: 1rem;
}

.item {
    position: relative;
    height: max-content;
}

.dot-div {
    width: 50px;
    border-radius: 20px;
    padding: 8px 70px 8px 2px;
    border: none;
    margin-bottom: 20px;
    margin-left: 20px;
    display: inline-flex;
    float: left;
    margin-top: 10px;

}

.btn {
    padding: 10px 20px 10px 20px;
}

.btn-primary {
    background-color: white;
    color: black;
    font-weight: 500;
    border-radius: 20px;
}

.btn:hover {
    background-color: #fff;
    color: #30A6E6;
}

.contact-usBtn {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    display: flex;
}

.btn-more {
    float: left;
    margin: 20px;
    font-family: "Heebo", Helvetica, Arial, sans-serif;
    color: #fafafa;
    font-weight: 400;
    letter-spacing: 0.2em;
    background-color: #262264;
    border-radius: 100px;
    padding: 10px 100px 10px 100px;
    box-shadow: 3px 5px rgba(255, 255, 255, 0.877);
}
